.app-nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid var(--color-border);
  border-radius: 10px;
  & .start {
    margin-inline-start: 20px;
    @include flex-center;
  }
  & .end {
    @include flex-center;
    min-width: 200px;
    text-align: end;
    margin-inline-end: 20px;
  }

  // & .p-breadcrumb {
  //   & ol li:last-child {
  //     & a {
  //       color: red !important;
  //     }
  //   }
  // }

  @media (min-width: 992px) {
    & .sidebar-toggler {
      display: none;
    }
    & .logo-container {
      display: none !important;
    }
  }
}
