.app-btn {
  background: var(--color-card);
  border: none;
  padding: 0 50px;
  // min-width: 150px;
  color: var(--color-white);
  margin: 0 0.2rem;
}

.p-button:enabled:hover {
  background: var(--secondary-color) !important;
  color: #fff;
}
