.app-nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  & .start {
    align-items: center;
    display: flex;
  }

  @media (min-width: 992px) {
    & .sidebar-toggler {
      display: none;
    }
    & .logo-container {
      display: none !important;
    }
  }
}
