.logo-container {
  display: flex;
  & svg {
    // max-width: 80px;
    & path {
      transition: var(--transition);
      fill: var(--color-white) !important;
    }
  }
  &:hover {
    & svg {
      & path {
        fill: var(--color-primary);
      }
    }
  }
}
