:root {
  --color-background-dark: linear-gradient(180deg, #2e323f 0%, #0a061a 100%);
  --color-background-light: linear-gradient(180deg, #f6f9fc 0%, #ececf9 100%);
  --color-background: var(--color-background-light);
  --color-dropdown: #2e323f;
  --color-primary: linear-gradient(to bottom, #fc6c85 0%, #ed5d76 100%);
  --color-primary-darken: #aa3f52;
  --menu-width-opened: 19rem;
  --menu-width-closed: 6.571em;
  --menu-width: var(--menu-width-closed);
  --primary-color: var(--color-primary);
  --color-card: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  --color-card-darken: var(--color-background-light);
  --secondary-color: #44486d;
  --text-color: var(--color-text);
  --surface-card: var(--color-card);
  --shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  --app-logo: "https://static.exploremelon.com/dashkit/logo.svg";
  --app-logo-icon: "https://static.exploremelon.com/dashkit/logo-icon.svg";
  --menu-border-color: rgba(225, 223, 223, 0.85);
  --color-border: rgba(255, 255, 255, 0.15);
  --color-input-border: 1px solid transparent;
  --color-input: rgba(0, 0, 0, 0.05);
  --font-family: "Montserrat";
  --color-icon-btn: rgba(0, 0, 0, 0.05);
  --color-hover: rgba(255, 255, 255, 0.07);
  --color-hover-darken: rgba(255, 255, 255, 0.09);
  --color-head: #fff;
  --color-border: rgba(0, 0, 0, 0.1);
  --color-white: #000;
  --color-text: #868c9b;
  --color-secondary: #44486d;
  --color-deleted: #8b8a8b;
  --color-dialog: #252636;
  --color-success: #0ab979;
  --color-warning: #ec4dbc;
  --fk-bg-submit-hover: var(--color-secondary);
  --color-info: #0f8bfd;
  --color-danger: #fc6161;
  --fk-margin-outer: 0;
  
  --fk-bg-input: rgba(230, 17, 17, 0.02) !important;
  --fk-font-family-label: var(--font-family);
  --fk-bg-decorator: rgba(0, 0, 0, 0.05);
  --fk-day-bg: var(--color-card);
  --color-error: rgba(199, 44, 65, 0.3);
  --fk-color-input: var(--color-white);
  --fk-margin-help: 15px 0;
  --fk-color-help: var(--color-white);
  --fk-bg-input: rgba(108, 117, 125, 0.2);
  --fk-padding-label: 15px 0;
  --fk-max-width-input: 100%;
  --fk-font-size-message: 16px;
  --fk-font-size-label: 16px;
  --fk-color-tag: #256029;
  --fk-day-bg: var(--color-card);
  --fk-day-bg-hover : rgba(23,255,255,1)
  --fk-border-box-shadow: transparent;
  --fk-border-box-shadow-focus: transparent !important;
  --fk-color-primary: transparent;
  --fk-color-tag-background: #c8e6c9;
  --fk-day-bg-selected:var(--color-primary);
  --fk-border-width: 0; 
  --fk-font-family: "Cairo", sans-serif !important;
}

body .dark,
body.dark {
  --color-background: var(--color-background-dark);
  --color-input: rgba(255, 255, 255, 0.05);
  --color-card: rgba(255, 255, 255, 0.05);
  --color-card-darken: rgba(255, 255, 255, 0.05);
  --color-icon-btn: rgba(255, 255, 255, 0.05);
  --color-hover: rgba(255, 255, 255, 0.07);
  --menu-border-color: rgba(22, 22, 22, 0.85);
  --fk-bg-input: rgba(0, 0, 0, 0.126) !important;
  --color-border: var(--color-card);
  --fk-color-input: #fff !important;
  --color-white: #fff;
  --color-hover-darken: rgba(255, 255, 255, 0.09);
  --color-head: #fff;
  --fk-color-input: var(--color-text);
  --fk-day-bg: var(--color-card);
  --color-text: #868c9b;
  color-scheme: dark;
}
