.app-form {
  & .formkit-outer {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .formkit-wrapper {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  & .formkit-form {
    display: flex;
    flex-direction: column;
  }

  .formkit-messages {
    order: 1;
    width: 100%;

    & li {
      padding: 10px;
      background-color: var(--color-danger);
      color: #fff;
      border-radius: 6px;
      box-shadow: var(--shadow);
      margin-top: 20px;
    }
  }

  .schema-wrapper {
    order: 2;
  }

  .formkit-actions {
    order: 3;
  }

  & .form-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 20px;
    padding: 10px 0;

    & .end {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  & .form-section {
    margin: 20px 0;
    padding: 0 10px;

    & h2 {
      border-bottom: 1px solid var(--color-border);
      padding: 20px 10px;
      margin-bottom: 20px;
    }
  }
}
